@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

:root {
  --primary-color-100: hsl(176, 50%, 47%);
  --primary-color-200: hsl(176, 72%, 28%);

  --neutral-color-100: hsl(0, 0%, 0%);
  --neutral-color-200: hsl(0, 0%, 48%);

  --fs: 16px;
  --ff-commissioner: "Commissioner", sans-serif;
  --fw400: 400;
  --fw500: 500;
  --fw700: 700;
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General Styling */

body {
  min-height: 100vh;
  font-family: var(--ff-commissioner);
  background: whitesmoke url("../../images/image-hero-mobile.jpg") no-repeat;
  background-size: 100% 40%;
  position: relative;
}

button {
  padding: 1rem 2.5rem;
  color: white;
  background-color: var(--primary-color-100);
  border: none;
  -o-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
}

.nav,
.dropdown p {
  padding: 1.5rem;
}

.dropdown,
.top,
.middle,
.bottom {
  background-color: white;
}
button,
.dropdown,
.top p:nth-child(2),
.info p:first-child {
  font-weight: var(--fw700);
}

.nav,
.wrapper,
.top,
.btn-book {
  display: flex;
}

.hide {
  display: none;
}

.nav,
.top {
  flex-direction: column;
}

.wrapper,
.top,
.btn-book {
  align-items: center;
}

.wrapper,
.btn-book {
  justify-content: space-between;
}

button,
.logo,
.icon,
.dropdown p,
#bookmark {
  cursor: pointer;
}

.top,
.middle {
  text-align: center;
}

.top,
.middle,
.bottom {
  padding: 2rem 1.2rem;
  border-radius: 0.5rem;
  justify-content: center;
  gap: 1rem;
}

.top p:nth-child(3),
.info p:last-child,
.about p:not(:first-child) {
  font-size: 0.85rem;
  color: var(--neutral-color-200);
}

.nav {
  width: 100%;
  gap: 2rem;
  position: absolute;
}

.dropdown {
  font-size: 1.1rem;
  border-radius: 0.5rem;
}

.dropdown p:hover {
  color: hsla(0, 0%, 0%, 0.5);
}

.dropdown p:not(:last-child) {
  border-bottom: 1px solid hsla(0, 0%, 48%, 0.1);
}

.main {
  padding: 65% 1.5rem 0;
}

.brand {
  margin-top: -3.5rem;
}

.top p:nth-child(2) {
  font-size: 1.5rem;
}

.btn-book {
  gap: 0.5rem;
}

.btn-book button:hover {
  background-color: var(--primary-color-200);
}

#bookmark:hover circle {
  fill: hsl(0, 0%, 25%);
}

#bookmark.active circle {
  fill: var(--primary-color-100);
}

#bookmark.active:hover circle {
  fill: var(--primary-color-200);
}

#bookmark.active path {
  fill: white;
}

.middle,
.bottom {
  margin-top: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info:not(:first-child) {
  margin-top: 1.5rem;
}

.info p {
  width: 50%;
}

.info p:first-child {
  font-size: 2rem;
}

.info p:last-child {
  margin-top: 0.5rem;
  font-weight: var(--fw500);
}

.info:not(:last-child) p:last-child {
  position: relative;
  padding-bottom: 1.25rem;
}

.info:not(:last-child) p:last-child::after {
  content: "__________";
  opacity: 0.3;
  color: var(--neutral-color-200);
  position: absolute;
  left: 23.75%;
  bottom: 0;
}
