@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

:root {
  --primary-color-100: hsl(176, 50%, 47%);
  --primary-color-200: hsl(176, 72%, 28%);

  --neutral-color-100: hsl(0, 0%, 0%);
  --neutral-color-200: hsl(0, 0%, 48%);

  --fs: 16px;
  --ff-commissioner: "Commissioner", sans-serif;
  --fw400: 400;
  --fw500: 500;
  --fw700: 700;
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General Styling */

body {
  font-family: var(--ff-commissioner);
}

button {
  padding: 1rem 2.5rem;
  border: none;
  -o-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
}

.container {
  min-height: 100vh;
  background: whitesmoke url("../../images/image-hero-mobile.jpg") no-repeat;
  background-size: 100% 40%;
  position: relative;
}

.nav {
  width: 100%;
  padding: 1.5rem;
  gap: 2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: tomato;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdowns {
  background-color: white;
  font-weight: var(--fw700);
  font-size: 1.1rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.dropdown {
  padding: 1.5rem;
  cursor: pointer;
}

.dropdown:hover {
  color: hsla(0, 0%, 0%, 0.5);
}

.dropdown:not(:last-child) {
  border-bottom: 1px solid hsla(0, 0%, 48%, 0.1);
}

.hide {
  /* display: none; */
}
